<div class="col-md-6 user-container">
    <h2 class="text-center">Edit Car</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <!-- <div class="hidden">
        <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id">
      </div> -->
      <div class="form-group">
        <label for="vehicle">Modelo:</label>
        <input type="text" formControlName="vehicle" placeholder="modelo" name="vehicle" class="form-control" id="vehicle" readonly="true">
      </div>
  
      <div class="form-group">
        <label for="brand">Marca:</label>
        <input formControlName="brand" placeholder="marca" name="brand" class="form-control" id="brand">
      </div>
  
      <div class="form-group">
        <label for="lastName">Ano:</label>
        <input formControlName="year" placeholder="ano" name="year" class="form-control" id="year">
      </div>
  
      <div class="form-group">
        <label for="price">Preço:</label>
        <input type="text" formControlName="price" placeholder="preço" name="price" class="form-control" id="price">
      </div>
  
      <div class="form-group">
        <label for="description">Descrição:</label>
        <input type="text" formControlName="description" placeholder="descrição" name="description" class="form-control" id="description">
      </div>
  
      <button class="btn btn-success">Update</button>
    </form>
  </div>